body{
    margin: 0; 
    background-image: url("../Images/about.webp");
    background-size: cover;
}
.text{
    text-align: center;
    margin-top: 5px;
    font-family: calibri;
    text-transform: uppercase;
    font-size: 30px;
    color: black;
}
/*.text h3{*/
/*    background-color: #BFC0C0;*/
/*}*/