
.body {
  height: auto!important;

}
/* <img src="../images/aboutUs.jpg" /> */
.about-container {
    background-image: url('../Images/aboutUs.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;

}
