.all-categories{
    width: 100%;
    height: 98vh;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 60px;
    box-shadow: 2px 5px 10px var(--light);
}
.all-categories .header-of-categories {
    display: flex;
    align-items: center;
    margin: 10px 0px 40px;
}
.all-categories .header h1{
    text-align: center;
    font-size: 35px;
    color: var(--CadetBlue);
    display: inline-block;
}

.all-categories .left-line , .all-categories .right-line{
    display: inline-block;
    background-color: var(--dark-Gray);
    width: 20%;
}

.all-categories .container{
    width: 80%;
    height: 95%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.all-categories .men-category ,
.all-categories .women-category{
    height: 90%;
    transition: all 0.5s;
}

.all-categories .men-category .image-container ,
.all-categories .women-category .image-container{
    height: 85%;
}

.all-categories .men-category .image-container img,
.all-categories .women-category .image-container img {
    height: 100%;
    width: 400px;
    cursor: pointer;
    box-shadow: 2px 5px 10px var(--light);
    border-radius: 20px;
    position: relative;
}
.all-categories .men-category:hover,
.all-categories .women-category:hover{
    transform: scale(1.03)
}


.image-details{
    padding : 5px 10px ;
    position: relative;
    top: -30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--dark-Gray);
    opacity: 0.9;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
}
.image-details a{color: white; letter-spacing: 1px; font-weight: 400    ;}



@media screen and (min-width:991px) and (max-width:1200px) {
    
    .all-categories h1{font-size: 20px}
   
}

@media screen and (max-width:1400px){
    
    .all-categories .men-category .image-container img,
    .all-categories .women-category .image-container img {
        height: 100%;
        width: 350px;
    }
   
    .all-categories .men-category .image-container ,
    .all-categories .women-category .image-container{
       height: 80%;
    }
}


