body {
    font-family: Roboto, sans-serif;
}

.cart-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0;
    height: 50px;
}

body {
    background-color: rgb(45, 49, 66);
}

.main {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    margin: 100px;
    border: 1px solid;
    border-color: black;
    background-color: silver;
}

.list-details {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
<<<<<<< Updated upstream
    margin: 20px 0px;
    column-gap: 10px;
=======
    margin: 20px 0;
>>>>>>> Stashed changes
}

.product {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.product-image img{
    max-width: 100px;
    max-height: 100px;
}

.quantity-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.product-detail .list-details{
    display: flex;
    justify-content: center;
    align-items: center;
}

.incdec {
    display: flex;
    height: 15px;
    width: 10px;
    line-height: 7px;
    justify-content: center;
}

.vl {
    border-left: 0.5px solid  rgb(162, 159, 159);
    height: 500px;
  }

@media (max-width: 950px){
    .main {
        grid-template-columns: 1fr;
    }
    .vl {
        display: none;
    }
}