/* start global */
* {
    /* we give brand 30% and links 70%
    theoretically is fit but because of padding in elements
    the were above each other so to solve this
    we used this
    it remove padding from element width*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    background-color: #FFFFFF;*/
/*    min-height: 100vh;*/
/*    position: relative;*/
/*}*/

a {
    text-decoration: none;
}

a:visited{
    color: inherit;
}
.container {
    /* I made the content in the middle
    while the back ground on whole screen */
    width: 90%;
    margin: auto; /* to make content in middle*/
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* end global */

/* start nav bar */
.nav-bar {
    background-color: #2D3142;
    color: #BFC0C0;
    overflow: hidden;
}

.nav-bar .brand-name {
    color: #EF8354;
    float: left;
    width: 40%;
    text-transform: uppercase;
    margin-top: 10px;   
    cursor: pointer;
}

.nav-bar .links {
    /* float: left; */
    float: right;
    width: 60%;
    text-align: right;
}

.nav-bar .links li {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.nav-bar .links li a{color: #BFC0C0;}

.nav-bar .links li.active, .nav-bar .links li:hover {
    color: #EF8354;
    border-bottom: 2px solid #EF8354;
}
.nav-bar .links li.active a , .nav-bar .links li:hover a{color: #EF8354;}

.nav-bar .links li a.active, .nav-bar .links li:last-of-type:hover{
    border: 0;
}
/* end nav bar */


/* start footer */

.footer {
    background-color: #2D3142;
    color: #BFC0C0;
    height: 200px;
    /*overflow: hidden;*/
    display: flex;
    width: 100%;
    /*bottom: 0;*/
}

.footer .footer-content {
    color: #EF8354;
    float: left;
    /* width: 65%; */
    text-transform: uppercase;

}
.footer .footer-content {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    width: 100%;
} 


.footer .footer-content .shop {
    color: #EF8354;
    float: left;
    width: 20%;
}

.footer .footer-content .shop li {
    color: #BFC0C0;
    margin-top: 15px;

}

.footer .footer-content li {
    color: #BFC0C0;
    margin-top: 15px;

}

.footer .footer-column {
    display: inline-block;
    width: 35%;
    margin-left: 20px;
    margin-right: 22px;
}

.footer .footer-column h4 {
    color: #EF8354;
    display: inline-block;
    font-size: 20px;
    border-bottom: 2px solid #EF8354;
    margin-bottom: 10px;
    padding: 10px 8px;
}

.footer .social-content {
    color: #EF8354;
    float: left;
    width: 15%;
    text-transform: uppercase;
}

.footer .social-content a {
    color: #BFC0C0;
    margin-left: 15px;
    font-size: 15px;
}

.footer .social-content a:hover {
    color: #EF8354;
    font-size: 20px;
}

.footer .social-content h4 {
    color: #EF8354;
    border-bottom: 2px solid #EF8354;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/* end of footer */

/* * add style to account settings */
.down-arrow-icon{
    width: 20px;
    border-radius: 50px;
    margin-left: 5px;
}
.activeLink{color: '#EF8354'!important;}
.account-settings{
    display: none;
    position: absolute;
    background-color: #2D3142;
    color: white;
    right: 65px;
    top: 75px;
    z-index: 1000;
    width: 100px;
    height: 100px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
    /* border-top: 2px solid var(--light); */
    cursor: pointer;
}
.account-settings a{
    height: 49px!important;
    padding-top: 10px;
    display: block;
    border-bottom: 1px solid var(--light);
    text-align: center;
    color: var(--light);
}
.account-settings a:hover{
    background-color: #EF8354;
    color: #2D3142; ;

}
.account-settings a:last-of-type{
    border: 0;
}
.account-settings a:last-of-type:hover{
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}


@media screen and (min-width:991px) and (max-width:1200px)  {
    .nav-bar li{font-size: 12px;  padding: 5px 10px!important; margin-left: 15px;}
    .nav-bar .brand-name {width: 40%!important; margin-top: 5px!important; }
    .nav-bar .links {  width: 55%!important  }
    .footer .footer-content { width: 85%!important }
    .footer .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer .footer-content li {font-size: 13px;}
    .footer .footer-column h4 {font-size: 15px;}

    .footer .footer-content {display: flex; margin-bottom: 40px;} 
    .footer .footer-column {
        margin-left: 10px;
        margin-right: 10px;
    } 
    .footer .footer-content .shop {width: 20%;}
    

    .account-settings{
        right: 30px;
        top: 75px;
    }
}