body {
  height: 200vh;
}
.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-data {
  display: flex;
  /*   background-color: var(--Chocolate);
 */
  border: 1px solid black;
  margin: 100px 50px;
  height: 120vh;
  width: 80%;
}
.product-img {
  width: 50%;
  border: 1px solid black;
}
.product-img img {
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  /*   float: right;
 */
}
.product-desc {
  width: 40%;
}
