/* * In This File will put all shared styles in it */
html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    height: 200vh;
}
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;    
}


/* * Color Palette  */
:root{
    --dark-Gray : #303142;
    --CadetBlue : #4D5E77;
    --light : #BEC1BE;
    --Chocolate : #FF823D;
    --border-color:#556b7c;

}