<div class="all-categories">

    <div class="header-of-categories">
        <hr class="left-line"/>
        <h1> Our Categories </h1>
        <hr class="right-line"/>    
    </div>
   
    <div class="container">
        <!-- * start women category -->
        <div class="women-category">
            <div class="image-container">
                <div class="overlay"></div>
                <img src="../../Images/Products/Women/women-8.jpg"/>
            </div>
            <div class="image-details">
                <h3> 
                    <a href="./Categories.html?category=women">View all items</a>
                </h3>
            </div>
        </div>

        <!-- * start men category -->
        <div class="men-category">
            <div class="image-container">
                <div class="overlay"></div>
                <img src="../../Images/Products/Men/men.jpg"/>
            </div>
            <div class="image-details">
                <h3> 
                    <a href="./Categories.html?category=men">View all items</a>
                </h3>
            </div>
        </div>
    </div>
    

</div>

<script src="../../Scripts/AllCategories.js"></script>