<!--* Start Header -->
    <div class="header">
        <div class="container">
            <div class="overlay"></div>
            <div class="header-background">
                <div class="header-content">
        
                    <!-- * Header Details  -->
                    <div class="header-details">
                        <h1>Shop Together</h1>
                        <p>We want you to feel comfortable, loved and free. Our organic and fairtrade clothing ensures quality of our Clothes</p>
                    </div>

                    <!-- * View More Items Button  -->
                    <div class="view-more-items">
                        <button class="btn-view-more" id="btn-view-more">View More</button>
                    </div>
                
                    <!-- * Right Side -->
                    <div class="right-side-header">
                        <div class="right-side-header-container">
                            <img src="../Images/Header/Wool1.png">
                            <img src="../Images/Header/Wool2.png">
                            <img src="../Images/Header/Wool3.png">
                            <img src="../Images/Header/Wool4.png">
                        
                        </div>
                    </div>
 
                </div>
               
            </div>
            
        </div>
    </div>
<!--* End Header -->

<script src="../Scripts/Header.js"></script>

