<div class="nav-bar">
    <div class="container">
        <div class="brand-name">
            <h2 id="logo">BOHO...</h2>
        </div>
        <ul class="links">
            <li class="active"> <a href="./"> HOME </a></li>
            <li> <a href="./about.html"> ABOUT </a></li>
            <li> <a href="./ContactUs.html"> CONTACT </a></li>
            <li> <a href="#"> STORE </a></li>
            <li> <a href="#"> SHOPPING BAG <span class="fa-sharp fa-solid fa-bag-shopping" style="margin-left: 5px;"> </span> </a></li>
            <li id="login">
                <span> Account </span>
                <img src="../../Images/Header/down.png" class="down-arrow-icon"/>
            </li>
        </ul>
    </div>
</div>
<div class="account-settings">  
    <a href="./Login.html"> sign-in </a>
    <a href="./Login.html#sign-up"> sign-up </a>

</div>


<!-- * Check if User login or not -->
<script src="../../Scripts/Navbar.js"></script>

