<div class="view-products">
    <h1> Trending Now </h1>
    <div class="container">

        <!-- * start Filteration Of products -->
        <div class="products-header-wrapper">
            <div class="categories-of-products">
                <button class="active">Women</button>
            </div>
            <div class="categories-of-products">
                <button>Men</button>
            </div>
            <div class="categories-of-products">
                <button>Sale</button>
            </div>
        </div>
        <!-- * end Filteration Of products -->

        <!-- * start carousel -->
        <div class="carousel">
            <div class="carousel-inner">
                <div class="carousel-inner-item">
                    <div class="product_details">
                        <div class="Overlay"></div>
                        <img src="../Images/Products/Women/2.jpg"/>            
                    </div>
                    <button class="btn-carousel-view-details"> View Details</button>
                </div>

                <div class="carousel-inner-item">
                    <div class="product_details">
                        <div class="Overlay"></div>
                        <img src="../Images/Products/Women/3.jpg"/>
                    </div>
                    <button class="btn-carousel-view-details"> View Details</button>
                    
                </div>


                <div class="carousel-inner-item">
                    <div class="product_details">
                        <div class="Overlay"></div>
                        <img src="../Images/Products/Women/4.jpg"/>
                    </div>
                    <button class="btn-carousel-view-details"> View Details</button>
                    
                </div>


                <div class="carousel-inner-item">
                    <div class="product_details">
                        <div class="Overlay"></div>
                        <img src="../Images/Products/Women/5.jpg"/>
                    </div>
                    <button class="btn-carousel-view-details"> View Details</button>
                    
                </div>
            </div>

            <!-- * start Arrows of carousel -->
            <div class="carousel-control-prev">
                <img src="../Images/Products/left-arrow.png"/>
            </div>
            <div class="carousel-control-next">
                <img src="../Images/Products/right-arrow.png"/>
            </div>

            <!-- * end Arrows of carousel -->

        </div>
        <!-- * end carousel -->

        

    </div>

</div>