<div class="view-products">
    <h1> Trending Now </h1>
    <div class="container">

        <!-- * start Filteration Of products -->
        <div class="products-header-wrapper">
            <div class="categories-of-products">
                <button class="active"  id="CategoryOfWomen">Women</button>
            </div>
            <div class="categories-of-products">
                <button id="CategoryOfMen">Men</button>
            </div>
            <div class="categories-of-products">
                <button id="CategoryOfSale">Sale</button>
            </div>
        </div>
        <!-- * end Filteration Of products -->

        <!-- * start carousel -->
        <div class="carousel">
            <div class="carousel-inner women">          
            </div>

            <!-- * start Arrows of carousel -->
            <div class="carousel-control-prev">
                <img src="../Images/Products/left-arrow.png"/>
            </div>
            <div class="carousel-control-next">
                <img src="../Images/Products/right-arrow.png"/>
            </div>

            <!-- * end Arrows of carousel -->

        </div>
        <!-- * end carousel -->

        

    </div>

</div>
<script src="../../Scripts/LoadProducts.js"></script>
<script src="../Libaray/FadeInProductDetails.js"></script>
<script src="../../Scripts/ViewProducts.js"></script>

